@CHARSET "UTF-8";

#header {
	height: 372px;
	background-image: url(../images/header_bg.jpg);
	background-repeat: repeat-x;
}

#headerBox {
	width: 960px;
	height: 321px;
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
}

#nav {
	height: 52px;
	background-image: url('../images/nav-bg.jpg');
	background-repeat: no-repeat;
}

#navBox {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

#navBox li {
	float: left;
	padding: 0px 20px;
	background-image: url('../images/nav_spacing.png');
	background-position: left center;
	background-repeat: no-repeat;
}

#navBox li.noSpacing {
	background-image: none;
}

#navBox li a {
	display: block;
	padding-top: 1px;
	width: 91px;
	height: 25px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

#navBox li a:hover {
	background-image: url('../images/nav_select.png');
	background-repeat: no-repeat;
	color: #000000;
}

#context {
	position: relative;
	overflow: hidden;
	height: 100%;
}

#contextBox {
	overflow: hidden;
	padding: 10px;
}

#contextAdorn {
	position: absolute;
	top: 0px;
	z-index: -1;
	margin-left: -15px;
	width: 990px;
	height: 73px;
	background-image: url('../images/context_adorn.png');
	background-repeat: no-repeat;
}

#leftColumns {
	float: left;
	width: 264px;
	height: 100%;
}

#rightContent {
	float: right;
	width: 676px;
	height: 100%;
}

#userLogin {
	width: 245px;
	height: 202px;
	background-image: url('../images/user_login.png');
	background-repeat: no-repeat;
}

#userLoginTitle {
	color: #FFF;
	text-align: center;
	line-height: 33px;
}

#userLoginBox {
	
}

#userLoginBox form {
	margin: 7px;
	font-size: 13px;
}

#userLoginBox #username {
	background-position-y: 1px;
}

#userLoginBox #password {
	background-position-y: -43px;
}

#userLoginBox #username,#userLoginBox #password {
	padding-right: 2px;
	padding-left: 32px;
	width: 127px;
	height: 30px;
	border: none;
	vertical-align: middle;
	text-align: left;
	line-height: 30px;
}

.userLoginInput {
	margin: 5px 0px;
}

.userLoginInput .btn {
	border: none;
	background-image: url('../images/user_login_bg.png');
	background-repeat: no-repeat;
	display:inline-block;
	overflow:hidden;
}

.userLoginInput .ipt_username,.userLoginInput .ipt_password {
	border: none;
	background-image: url('../images/user_login_bg.png');
	background-repeat: no-repeat;
	display:inline-block;
	overflow:hidden;
}

.userLoginInput .login {
	width: 106px;
	height: 30px;
	background-position-x: -238px;
}

.userLoginInput .register {
	width: 106px;
	height: 30px;
	background-position-x: -354px;
}

.leftColumnsBox {
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	height: 100%;
	height: 740px;
	background-image: url('../images/leftColumns_bg.png');
	background-repeat: no-repeat;
}

.leftItem {
	width: 243px;
	/*z-index: 0;*/
}

.leftItem .title {
	padding: 8px 12px;
	color: #fff;
	font-size: 14px;
}

.leftItem .first {
	background-image: url('../images/leftColumns_assemble.png');
	background-repeat: no-repeat;
	height: 9px;
	width: 225px;
}

.leftItem .last {
	background-position-y: -16px;
	background-image: url('../images/leftColumns_assemble.png');
	background-repeat: no-repeat;
	height: 9px;
	width: 225px;
}

.leftItem .box {
	margin: 0px 9px 0px 9px;
}

.leftItem .box ul {
	overflow: hidden;
	background-color: #FFF;
	padding: 8px 0px 8px 0px;
}

.leftItem .box li {
	width: 205px;
	height: 30px;
	display: block;
	margin: 8px auto;
}

.leftItem .box .link {
	background-image: url('../images/lefrColumns_button.png');
	background-repeat: no-repeat;
	width: 205px;
	height: 30px;
	color: #4d4b4b;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 30px;
}

.leftItem .box .text {
	padding: 8px;
	overflow: hidden;
	background-color: #FFF;
}

.leftItem .box .text p {
	padding: 0px;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
	line-height: 20px;
}

/*  */
#contentTop {
	height: 220px;
	overflow: hidden;
}

#contentTopImg {
	width: 260px;
	height: 220px;
	margin-right: 10px;
	float: left;
	display: block;
	background-color: #d3d3d3;
}

#contentTopInfo {
	height: 100%;
	width: 406px;
	float: left;
}

#contentTopInfo .title {
	border-bottom: 1px solid #65b8e1;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 0px 8px 3px 8px;
	margin-bottom: 6px;
	display: block;
	color: #666666;
}

#contentTopInfo ul {
	margin: 5px;
	overflow: hidden;
}

#contentTopInfo ul li a {
	line-height: 20px;
	text-decoration: none;
	color: #666666;
	padding: 1px 3px;
}

#contentTopInfo ul li a:hover {
	background-color: #65b8e1;
	color: #fff;
}

.contentBlock {
	width: 689px;
	margin: 15px 0px;
	margin-left: -6px;
}

.contentBlock .titleBar {
	background-image: url('../images/block_title_bg.png');
	height: 34px;
	line-height: 34px;
	padding: 0px 15px;
}

.contentBlock .titleBar li {
	display: inline;
	float: left;
}

.contentBlock .titleBar a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 81px;
	height: 33px;
}

.contentBlock .titleBar a.selecteds,.contentBlock .titleBar a:hover {
	background-image: url('../images/block_title_selected.png');
	background-repeat: no-repeat;
}

.contentBlock .contentBox {
	overflow: hidden;
	border: 1px solid #e9e5e5;
	border-top: none;
	margin: 0px 5px 0px 5px;
	display: block;
	height: 100px;
}

.cooperation {
	
}

.cooperation:hover {
	size: 200px;
}

.blue_btn {
	display: inline-block;
	background-image: url('../images/leftColumns_assemble.png');
	background-repeat: no-repeat;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	background-position-y: -32px;
	border: none;
	color: #fff;
}

a.blue_btn:hover {
	color: black;
}

.active a{
	background-image: url('../images/nav_select.png');
	background-repeat: no-repeat;
	color:black !important;
}

.contentTopInfo {
	height: 100%;
	width: 406px;
	float: left;
}

.contentTopInfo .title {
	border-bottom: 1px solid #65b8e1;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 0px 8px 3px 8px;
	margin-bottom: 6px;
	display: block;
	color: #666666;
}

.contentTopInfo ul {
	margin: 5px;
	overflow: hidden;
}

.contentTopInfo ul li a {
	line-height: 20px;
	text-decoration: none;
	color: #666666;
	padding: 1px 3px;
}

.contentTopInfo ul li a:hover {
	background-color: #65b8e1;
	color: #fff;
}