@CHARSET "UTF-8";

/* Color Palette
**************************************************************

Background: #f3f4f5
Borders: 
Text: #333333
Secondary Text: 
Main Accent: 
Links: 1e5d7d
New Links: #3a822e;
*/

/* Reset
***************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button, submit {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Remember focus styles! */
:focus { outline: 0; }

body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }

/* Tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* HTML 5 elements as block */  
header, footer, aside, nav, article { display: block; }
/* end: reset */


/* General
***************************************************************/

/* Default font settings. 
The font-size 81.3% sets the base font to 13px 

Pixels   EMs         Percent    Points
1px      0.077em     7.7%       1pt
2px      0.154em     15.4%      2pt
3px      0.231em     23.1%      3pt
4px      0.308em     30.8%      3pt
5px      0.385em     38.5%      4pt
6px      0.462em     46.2%      5pt
7px      0.538em     53.8%      5pt
8px      0.615em     61.5%      6pt
9px      0.692em     69.2%      7pt
10px     0.769em     76.9%      8pt
11px     0.846em     84.6%      8pt
12px     0.923em     92.3%      9pt
13px     1em         100%       10pt
14px     1.077em     107.7%     11pt
15px     1.154em     115.4%     11pt
16px     1.231em     123.1%     12pt
17px     1.308em     130.8%     13pt
18px     1.385em     138.5%     14pt
19px     1.462em     146.2%     14pt
20px     1.538em     153.8%     15pt
21px     1.615em     161.5%     16pt
22px     1.692em     169.2%     17pt
23px     1.769em     176.9%     17pt
24px     1.846em     184.6%     18pt
*/

html, body { height:100%; }

html {
    color:#333;
}

body {
  font-size: 81.3%;
  color: #333; 
  font-family: Segoe UI,Trebuchet,Arial,Sans-Serif;
  line-height:1.6em;
  margin:0 auto;  
  min-width:74em; /* 946px */
  padding:0;
}

/* Headings */
h1,h2,h3,h4,h5,h6 { font-weight: normal;}

h1 { font-size: 1.769em; }
h2 { font-size: 1.308em; }
h3 { font-size: 1.231em; }
h4 { font-size: 1.154em; }
h5 { font-size: 1.077em; }
h6 { font-size: 1em; }

h1, h2, h3, h4, h5, legend {
    padding:.6px 0;
    font-style: normal;
    font-weight:normal;
}

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

strong {font-weight:600;}
.smallText {font-size:1em; line-height:1.4em;}

hr {border:0; height:1px; color:#e4e5e6; background-color:#e4e5e6;}
    
#header, #footer {
    width:100%;
}
#header {
    overflow:hidden;
}
#layout-content {
    /*overflow:auto;*/
    background:#f3f4f5 url(images/adminNavBackground.gif) repeat-y top left;
    min-height:100%;
}
#layout-main {
    /*display:inline;
    overflow:auto;*/
    float:right;
    margin-left:-240px;
    width:100%;
    padding:0 0 70px 0; /*Bottom padding set to footer height*/
}
#main {
    margin-left:260px;
    margin-right:20px;
}
#menu {
    background:#323232;
    display:inline;
    float:left;
    position:relative;
    width:240px;
}
.wrapper, .sections {
    overflow:hidden;
}
#footer {
    clear:both;
    height:70px;
    margin-top:-70px; /*Top margin set negative px of footer height*/
    background:url(images/vinesBackgroundBottom.gif) no-repeat bottom left;
}

/* Links
***************************************************************/
a, a:link, a:visited,
form.link button, button.link, button.link:hover {
    color:#1e5d7d;
    text-decoration:none;
}
form.link button, button.link {
    height:1.3em;
}
a:hover, a:active, a:focus {
    color:#1e5d7d;
    text-decoration:none;
}
form.link button:hover, button.link:hover {
    border-bottom:1px solid #1e5d7d;
}

/* Lists
***************************************************************/

ol.decimal {list-style:decimal inside; margin:12px 0;}
ul.disc {list-style:disc inside; margin:12px 0;}

/* Header - Branding and Login  
***************************************************************/
#header {
    height:50px;
    margin:16px 0 0 0;
    background:#f3f4f5;
}
#branding {
    background:#323232;
    /*width: 15.401%;*/
    width: 240px;
    height:50px;
    float:left;
}
#header #app {
    float:left;
    font-size:2.4em;
    padding:.4em 0;
}
#header #app a {
    background:url(images/orchardLogo.gif) no-repeat;
    display:block;
    height:60px;
    margin:-11px 0 0 14px;
    text-indent:-9999px;
    width:40px;
}
#site {
    font-size:1.385em; /*18px*/
}
#site a, #site a:visited, #site a:active {
    color:#fff;
    float:left;
    line-height:50px;
    position:relative;  
    text-shadow: rgba(0,0,0,.9) 0px 0px 2px;
}
#page-title {
    /*position:relative;
    top:12px;
    left:24px;*/
    padding:14px 0 0 260px;
    text-shadow:rgba(0,0,0,.1) 0px 0px 1px;    
}
#login {
    display:block;
    float:right;
    margin:14px 20px 0 0;
    white-space:nowrap;
}

#login a, #login a:link, #login a:visited {
    padding:0;
}

/* Forms
***************************************************************/

form              { margin: 0; padding: 0;}
legend            { font-size: 1.231em; font-weight: normal; border:none;}
fieldset          { padding:6px 0 0; margin:0 0 12px 0; border: 0px solid #dbdbdb; }
label             { font-weight:normal; display:block; padding: 0 0 0.3em 0; }
label.forcheckbox { margin:0 0 0 .4em; display:inline; }
label.required:after {margin-left: 1ex; content: "*"; color: red; }  

form.inline, form.inline fieldset { /* todo: (heskew) need something other than .inline ... */
    display:inline;
}
form.inline fieldset {
    margin:0;
}
.bulk-actions {
    display:inline;
    height:auto;
    margin:0 4px 0 0;
    padding:0 0 0 0;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline:1px dotted #666d51;
}

input[readonly] {
    background-color: #EBEBE4;
    color: #545454;
}

legend span {
    font-weight:normal;
}
.bulk-actions label, .bulk-items h3, label.sub {
    display:inline;
}
label.bulk-order {
    text-transform:lowercase;
}
label span {
    font-weight:normal;
}
label input {
    vertical-align:text-top;
}
.hint {
    display:block;
    font-size:0.923em;
    color:#7c7c7c;
}
/* todo: (heskew) try to get .text on stuff like .text-box */
select, textarea, input.text, input.textMedium, input.text-small, input.text-box {
    font-family:inherit;
    padding:3px;
    border:1px solid #bdbcbc;
    font-family:inherit;
    font-size:inherit;
}
input.text, input.textMedium, input.text-box {
    line-height:1.2em;
}
/*Are we using the two classes below?*/
input.text-small {
    width:4em;
}
input.textMedium {
    width:26em;
}
select {
    padding:1px;    
}
select:focus, textarea:focus, input.text:focus, input.text-box:focus, input.text-small:focus, input.textMedium:focus  {
    border-color:#666d51;
}
input.check-box {
    margin-left:0;
    vertical-align:-.1em;
}
input.large.text, textarea, fieldset {
    clear:both;
}

textarea {
    min-height:8em;
}
#main input.large.text, #main textarea {
    width:99%;
}
#main .primary input.large.text, #main .primary textarea {
    margin:0;
    padding:4px;
    width:98.8%;
}



